
<div class="inscription">

  <% if user_signed_in? %>
  <%= render "admins/shared/error" %>
  <% else %>

  <!-- Affichage du nom de l'asso ainsi que de ses Events -->
  <% if current_admin.mob == nil %>
  <%= link_to "Finaliser l'inscription", new_mob_path, class: "blackoverrose" %>
  <% else %>


  <div class="inscriptionuser">
    <div class="inscriptionrose">
      <h2><%= link_to edit_admin_registration_path, class: "rose" do %>
          <%= current_admin.first_name.capitalize %></h2>
          <% end %>
    </div>


    <div class="inscriptionnoir">
      <% assoid = current_admin.mob.id %>

      <h2><%= link_to edit_mob_path(assoid), class: "noir" do %>
          <%= current_admin.mob.name.capitalize %></h2>
      <% end %>
    </div>
  </div>


  <div class="champignon">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="wrappiti">
      <div class="wrappiti_left">

        <div class="field">
          <%= f.text_field :last_name, placeholder: "Nom", class: "champsinfo" %>
        </div>

        <div class="field">
          <%= f.text_field :first_name, placeholder: "Prenom", class: "champsinfo" %>
        </div>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "champsinfo" %>
        </div>

      </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="wrappiti_right">

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Nouveau mot de passe", class: "champsinfo" %>
        <% if @minimum_password_length %>
        <br />
        <% end %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirmation", class: "champsinfo" %>
      </div>

      <div class="field">
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Mot de passe actuel", class: "champsinfo" %>
      </div>

      <div class="actions">
        <%= f.submit "ok", class: "pommeok" %>
      </div>
      <% end %>

      <%= button_to "Cancel my account", registration_path(resource_name), class: "champsinfo", data: { confirm: "Are you sure?" }, method: :delete %>
      <% end %>
      <% end %>

    </div>
  </div>
</div>


