<div class="mediumboxeditadmins">
  <% if user_signed_in? %>
  <%= render "admins/shared/error" %>
  <% else %>
  <!-- Affichage du nom de l'asso ainsi que de ses Events -->
  <% if current_admin.mob == nil %>
  <%= link_to "Finaliser l'inscription", new_mob_path, class: "blackoverrose" %>
  <% else %>

  <div class="mediumboxeditadmins_header">
    <div class="mediumboxeditadmins_header_white">
      <h2 class="mediumboxeditadmins_header_white_purple"><%= link_to edit_admin_registration_path, class: "mediumboxeditadmins_header_white_purple" do %>
        <%= current_admin.first_name.capitalize %></h2>
      <% end %>
    </div>
    <div class="mediumboxeditadmins_header_dark">
      <% if current_admin.mob.id == nil %>
      <% else %>
      <% assoid = current_admin.mob.id %>
      <h2 class="mediumboxeditadmins_header_dark_black"><%= link_to edit_mob_path(assoid), class: "mediumboxeditadmins_header_dark_black" do %>
        <%= current_admin.mob.name.capitalize %></h2>
      <% end %>
      <%end%>
    </div>
  </div>

  <div class="mediumboxeditadmins_champignon">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="mediumboxeditadmins_champignon_wrappiti">
      <div class="mediumboxeditadmins_champignon_wrappiti_left">

        <div class="mediumboxeditadmins_champignon_wrappiti_left_field">
          <%= f.text_field :last_name, placeholder: "Nom", class: "mediumboxeditadmins_champignon_wrappiti_left_field_champsinfo" %>
        </div>

        <div class="mediumboxeditadmins_champignon_wrappiti_left_field">
          <%= f.text_field :first_name, placeholder: "Prenom", class: "mediumboxeditadmins_champignon_wrappiti_left_field_champsinfo" %>
        </div>

        <div class="mediumboxeditadmins_champignon_wrappiti_left_field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mediumboxeditadmins_champignon_wrappiti_left_field_champsinfo" %>
        </div>

      </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="mediumboxeditadmins_champignon_wrappiti_right">

      <div class="mediumboxeditadmins_champignon_wrappiti_right_field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Nouveau mot de passe", class: "mediumboxeditadmins_champignon_wrappiti_right_field_champsinfo" %>
        <% if @minimum_password_length %>
        <br />
        <% end %>
      </div>

      <div class="mediumboxeditadmins_champignon_wrappiti_right_field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirmation", class: "mediumboxeditadmins_champignon_wrappiti_right_field_champsinfo" %>
      </div>

      <div class="mediumboxeditadmins_champignon_wrappiti_right_field">
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Mot de passe actuel", class: "mediumboxeditadmins_champignon_wrappiti_right_field_champsinfo" %>
      </div>

      <div class="mediumboxeditadmins_champignon_wrappiti_right_action">
        <%= f.submit "ok", class: "mediumboxeditadmins_champignon_wrappiti_right_action_pomme" %>
      </div>
      <% end %>

      <%= button_to "Cancel my account", registration_path(resource_name), class: "mediumboxeditadmins_champignon_wrappiti_right_field_champsinfo", data: { confirm: "Are you sure?" }, method: :delete %>
      <% end %>
      <% end %>

    </div>
  </div>
</div>


