<div class="wrappi">
  <div class="inscription">

    <% if user_signed_in? %>
    <%= render "admins/shared/error" %>
    <% else %>
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "champsinfo" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Nouveau mot de passe", class: "champsinfo" %>
      <% if @minimum_password_length %>
      <br />
      <% end %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirmation", class: "champsinfo" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Mot de passe actuel", class: "champsinfo" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
    <% end %>

    <%= button_to "Cancel my account", registration_path(resource_name), class: "champsinfo", data: { confirm: "Are you sure?" }, method: :delete %></p>

    <!-- Affichage du nom de l'asso ainsi que de ses Events -->
    <% if current_admin.mob == nil %>
    <%= link_to "Finaliser l'inscription", new_mob_path, class: "blackoverrose" %>
    <% else %>
    <h2>Voici le nom de ton association :</h2>
    <%= current_admin.mob.name %>
    <br>
    <h2>Voici le nom de tes events :</h2>
    <% current_admin.mob.events.each do |event| %>
    <%= event.name %>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <p>/</p>
    <% end %>
    <br>

    <h2>Voici la date de tes events :</h2>
    <% current_admin.mob.events.each do |event| %>
    <%= event.date %>
    <p>/</p>
    <% end %>
    <br>

    <h2>Voici l'adresse de tes events :</h2>
    <% current_admin.mob.events.each do |event| %>
    <%= event.place %>
    <p>/</p>
    <% end %>
    <br>

    <h2>Voici l'heure de tes events :</h2>
    <% current_admin.mob.events.each do |event| %>
    <%= event.hour %>
    <p>/</p>
    <% end %>
    <% end %>

    <%= link_to "Back", :back %>
    <% end %>

  </div>
</div>