<div class="mediumboxinsco">
  <% if user_signed_in? %>
    <%= render "admins/shared/error" %>
  <% else %>
  
  <div class="mediumboxinsco_header">
    <%= link_to new_admin_session_path, class: "mediumboxinsco_header_dark" do %>
      <h2 class="mediumboxinsco_header_dark_black">Connexion</h2>
    <% end %>
    <%= link_to new_admin_registration_path, class: "mediumboxinsco_header_white" do %>
      <h2 class="mediumboxinsco_header_white_pink">Inscription</h2>
    <% end %>  
  </div>

  <div class="mediumboxinsco_champignon">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="mediumboxinsco_champignon_wrappiti">
      <div class="mediumboxinsco_champignon_wrappiti_left">
        <div class="mediumboxinsco_champignon_wrappiti_left_field">
              <%= f.text_field :last_name, placeholder: "Nom", class: "mediumboxinsco_champignon_wrappiti_left_field_champsinfo" %>
        </div>

        <div class="mediumboxinsco_champignon_wrappiti_left_field">
          <%= f.text_field :first_name, placeholder: "Prenom", class: "mediumboxinsco_champignon_wrappiti_left_field_champsinfo" %>
        </div>

        <div class="mediumboxinsco_champignon_wrappiti_left_field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email@super.com", class: "mediumboxinsco_champignon_wrappiti_left_field_champsinfo" %>
        </div>
      </div>

      <div class="mediumboxinsco_champignon_wrappiti_right">
        <div class="mediumboxinsco_champignon_wrappiti_right_field">
          <% if @minimum_password_length %>
          <!--<em>(<%= @minimum_password_length %> characters minimum)</em>-->
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "mot de passe", class: "mediumboxinsco_champignon_wrappiti_right_field_champsinfo" %>
          </div>

          <div class="mediumboxinsco_champignon_wrappiti_right_field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirmation", class: "mediumboxinsco_champignon_wrappiti_right_field_champsinfo" %>
          </div>

          <div class="mediumboxinsco_champignon_wrappiti_right_action">
            <%= f.submit "ok", class: "mediumboxinsco_champignon_wrappiti_right_action_pomme" %>
          </div>
        </div>

      </div>
    <% end %>
    <% end %>
    </div>
  </div>
</div>