<p id="notice"><%= notice %></p>

<h1>Mobs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Web url 1</th>
      <th>Web url 2</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mobs.each do |mob| %>
      <tr>
        <td><%= mob.name %></td>
        <td><%= mob.phone %></td>
        <td><%= mob.web_url_1 %></td>
        <td><%= mob.web_url_2 %></td>
        <td><%= mob.description %></td>
        <td><%= link_to 'Show', mob %></td>
      </tr>
    <% end %>
  </tbody>
</table>
