<div class="navbar">
	<div class="navbarleft">
		<%= link_to root_path do %>
		   <%= image_tag "logo.svg", class: "logo" %>
		<% end %>
		<h1 class="baseline">LET'S CLEAN THE STREET</h1>
	</div>
	<div class="navbarright">
		<%= link_to 'Créer un évènement', new_event_path, class: "eventbleu"%>
		<div class="dropdownrose">
		  <button class="dropbtnrose">Connexion</button>
		  <div class="dropdown-contentrose">
		    <%= link_to 'User', new_user_session_path %>
		    <%= link_to 'Association', new_admin_session_path %>
		  </div>
		</div>

		<div class="dropdownrose">
		  <button class="dropbtnrose">Inscription</button>
		  <div class="dropdown-contentrose">
		    <%= link_to 'User', new_admin_registration_path %>
		    <%= link_to 'Association', new_user_registration_path %>
		  </div>
		</div>
	</div>
</div>


