<div class="trash">
  <div id="ampoule" class="ampoule tdfjq">
    <%= image_tag "ampoule.svg" %>
    <div class="ampoule_infobuble hidden">
      <span>ampoule | verre | <span class="fc_pink">4 000 ans</span></span>
    </div>
  </div>
  <div id="ampoulee" class="ampoulee tdfjq">
    <%= image_tag "ampoulee.svg" %>
    <div class="ampoulee_infobuble hidden">
      <span>ampoule | aluminium | <span class="fc_pink">500 ans</span></span>
    </div>
  </div>
  <div id="biere" class="biere tdfjq">
    <%= image_tag "biere.svg" %>
    <div class="biere_infobuble hidden">
      <span>bière | verre | <span class="fc_pink">4 000 ans</span></span>
    </div>
  </div>
  <div id="bouteille" class="bouteille tdfjq">
    <%= image_tag "bouteille.svg" %>
    <div class="bouteille_infobuble hidden">
      <span>bouteille | verre | <span class="fc_pink">4 000 ans</span></span>
    </div>
  </div>
  <div id="casserole" class="casserole tdfjq">
    <%= image_tag "casserole.svg" %>
    <div class="casserole_infobuble hidden">
      <span>casserole | métal | <span class="fc_pink">100 ans</span></span>
    </div>
  </div>
  <div id="cassette" class="cassette tdfjq">
    <%= image_tag "cassette.svg" %>
    <div class="cassette_infobuble hidden">
      <span>cassette | plastique | <span class="fc_pink">1 000 ans</span></span>
    </div>
  </div>
  <div id="chaussette" class="chaussette tdfjq">
    <%= image_tag "chaussette.svg" %>
    <div class="chaussette_infobuble hidden">
      <span>chaussette | laine | <span class="fc_pink">1 an</span></span>
    </div>
  </div>
  <div id="chaussettee" class="chaussettee tdfjq">
    <%= image_tag "chaussettee.svg" %>
    <div class="chaussettee_infobuble hidden">
      <span>chaussette | coton | <span class="fc_pink">2 ans</span></span>
    </div>
  </div>
  <div id="citron" class="citron tdfjq">
    <%= image_tag "citron.svg" %>
    <div class="citron_infobuble hidden">
      <span>citron | pelure | <span class="fc_pink">1 an</span></span>
    </div>
  </div>
  <div id="lunette" class="lunette tdfjq">
    <%= image_tag "lunette.svg" %>
    <div class="lunette_infobuble hidden">
      <span>lunette | aluminium | <span class="fc_pink">500 ans</span></span>
    </div>
  </div>
  <div id="orange" class="orange tdfjq">
    <%= image_tag "orange.svg" %>
    <div class="orange_infobuble hidden">
      <span>orange | pelure | <span class="fc_pink">1 an</span></span>
    </div>
  </div>
  <div id="ordi" class="ordi tdfjq">
    <%= image_tag "ordi.svg" %>
    <div class="ordi_infobuble hidden">
      <span>ordi | métal | <span class="fc_pink">100 ans</span></span>
    </div>
  </div>
  <div id="pile" class="pile tdfjq">
    <%= image_tag "pile.svg" %>
    <div class="pile_infobuble hidden">
      <span>pile | métal | <span class="fc_pink">50 ans</span></span>
    </div>
  </div>
  <div id="pneu" class="pneu tdfjq">
    <%= image_tag "pneu.svg" %>
    <div class="pneu_infobuble hidden">
      <span>penu | caoutchouc | <span class="fc_pink">100 ans</span></span>
    </div>
  </div>
  <div id="pomme" class="pomme tdfjq">
    <%= image_tag "pomme.svg" %>
    <div class="pomme_infobuble hidden">
      <span>pomme | pelure | <span class="fc_pink">6 mois</span></span>
    </div>
  </div>
  <div id="pommee" class="pommee tdfjq">
    <%= image_tag "pommee.svg" %>
    <div class="pommee_infobuble hidden">
      <span>pomme | trognon | <span class="fc_pink">1 an</span></span>
    </div>
  </div>
  <div id="raquette" class="raquette tdfjq">
    <%= image_tag "raquette.svg" %>
    <div class="raquette_infobuble hidden">
      <span>raquette | filet | <span class="fc_pink">600 ans</span></span>
    </div>
  </div>
  <div id="roue" class="roue tdfjq">
    <%= image_tag "roue.svg" %>
    <div class="roue_infobuble hidden">
      <span>roue | caoutchouc | <span class="fc_pink">100 ans</span></span>
    </div>
  </div>
  <div id="saccuir" class="saccuir tdfjq">
    <%= image_tag "saccuir.svg" %>
    <div class="saccuir_infobuble hidden">
      <span>sac | cuir | <span class="fc_pink">450 ans</span></span>
    </div>
  </div>
  <div id="sacpla" class="sacpla tdfjq">
    <%= image_tag "sacpla.svg" %>
    <div class="sacpla_infobuble hidden">
      <span>sac | plastique | <span class="fc_pink">400 ans</span></span>
    </div>
  </div>
  <div id="soap" class="soap tdfjq">
    <%= image_tag "soap.svg" %>
    <div class="soap_infobuble hidden">
      <span>bouteille | plastique | <span class="fc_pink">1 000 ans</span></span>
    </div>
  </div>
  <div id="tele" class="tele tdfjq">
    <%= image_tag "tele.svg" %>
    <div class="tele_infobuble hidden">
      <span>télé | métal | <span class="fc_pink">4 000 ans</span></span>
    </div>
  </div>
  <div id="tomate" class="tomate tdfjq">
    <%= image_tag "tomate.svg" %>
    <div class="tomate_infobuble hidden">
      <span>tomate | pelure | <span class="fc_pink">1 an</span></span>
    </div>
  </div>
  <div id="verre" class="verre tdfjq">
    <%= image_tag "verre.svg" %>
    <div class="verre_infobuble hidden">
      <span>gobelet | plastique | <span class="fc_pink">1 000 ans</span></span>
    </div>
  </div>
  <div id="verrebleu" class="verrebleu tdfjq">
    <%= image_tag "verrebleu.svg" %>
    <div class="verrebleu_infobuble hidden">
      <span>verre | <span class="fc_pink">4 000 ans</span></span>
    </div>
  </div>
</div>
<div class="button_for_hide_wrappi">
  <span>SORTIR LES POUBELLES</span>
</div>
<div class="button_for_display_wrappi hidden">
  <span>ESSAYER DE CHANGER LE MONDE</span>
</div>


<script>
  $(".tdfjq").mouseenter(function() {
    // Je récupère l'ID de la div dans laquelle je suis rentrée (this)
    var elementById = $(this).attr('id');
    // Je retire la class hidden de l'infobulle correspondante (ex : #pomme_infobuble)
    $("." + elementById + "_infobuble").removeClass("hidden");
  });
  // L'inverse et de la même manière
  $(".tdfjq").mouseleave(function() {
    var sameElementById = $(this).attr('id');
    $("." + sameElementById + "_infobuble").addClass("hidden");
  });
  
  $(".button_for_hide_wrappi").click(function() {
    $(".wrappi").addClass("hidden");
    $(".button_for_hide_wrappi").addClass("hidden");
    $(".button_for_display_wrappi").removeClass("hidden");
  });
  $(".button_for_display_wrappi").click(function() {
    $(".wrappi").removeClass("hidden");
    $(".button_for_display_wrappi").addClass("hidden");
    $(".button_for_hide_wrappi").removeClass("hidden");
  });
</script>
