<div class="ampoule" title="ampoule">
	<%= image_tag "ampoule.svg" %>
</div>
<div class="ampoulee" title="ampoulee">
	<%= image_tag "ampoulee.svg" %>
</div>
<div class="biere" title="biere">
	<%= image_tag "biere.svg" %>
</div>
<div class="bouteille" title="bouteille">
	<%= image_tag "bouteille.svg" %>
</div>
<div class="casserole" title="casserole">
	<%= image_tag "casserole.svg" %>
</div>
<div class="cassette" title="cassette">
	<%= image_tag "cassette.svg" %>
</div>
<div class="chaussette" title="chaussette">
	<%= image_tag "chaussette.svg" %>
</div>
<div class="chaussettee" title="chaussettee">
	<%= image_tag "chaussettee.svg" %>
</div>
<div class="citron" title="citron">
	<%= image_tag "citron.svg" %>
</div>
<div class="lunette" title="lunette">
	<%= image_tag "lunette.svg" %>
</div>
<div class="orange" title="orange">
	<%= image_tag "orange.svg" %>
</div>
<div class="ordi" title="ordi">
	<%= image_tag "ordi.svg" %>
</div>
<div class="pile" title="pile">
	<%= image_tag "pile.svg" %>
</div>
<div class="pneu" title="pneu">
	<%= image_tag "pneu.svg" %>
</div>
<div class="pomme" title="pomme">
	<%= image_tag "pomme.svg" %>
</div>
<div class="pommee" title="pommee">
	<%= image_tag "pommee.svg" %>
</div>
<div class="raquette" title="raquette">
	<%= image_tag "raquette.svg" %>
</div>
<div class="roue" title="roue">
	<%= image_tag "roue.svg" %>
</div>
<div class="saccuir" title="sac cuir">
	<%= image_tag "saccuir.svg" %>
</div>
<div class="sacpla" title="sacpla">
	<%= image_tag "sacpla.svg" %>
</div>
<div class="soap" title="soap">
	<%= image_tag "soap.svg" %>
</div>
<div class="tele" title="tele">
	<%= image_tag "tele.svg" %>
</div>
<div class="tomate" title="tomate">
	<%= image_tag "tomate.svg" %>
</div>
<div class="verre" title="verre">
	<%= image_tag "verre.svg" %>
</div>
<div class="verrebleu" title="verrebleu">
	<%= image_tag "verrebleu.svg" %>
</div>
