<div class="ampoule" title="ampoule, verre : 4 000 ans">
	<%= image_tag "ampoule.svg" %>
</div>
<div class="ampoulee" title="ampoule, aluminium : 500 ans">
	<%= image_tag "ampoulee.svg" %>
</div>
<div class="biere" title="bière, verre : 4 000 ans">
	<%= image_tag "biere.svg" %>
</div>
<div class="bouteille" title="bouteille, verre : 4 000 ans">
	<%= image_tag "bouteille.svg" %>
</div>
<div class="casserole" title="casserole, métal : 100 ans">
	<%= image_tag "casserole.svg" %>
</div>
<div class="cassette" title="cassette, plastique : 1 000 ans">
	<%= image_tag "cassette.svg" %>
</div>
<div class="chaussette" title="chaussette, laine : 1 an">
	<%= image_tag "chaussette.svg" %>
</div>
<div class="chaussettee" title="chaussette, coton : 2 ans">
	<%= image_tag "chaussettee.svg" %>
</div>
<div class="citron" title="citron, pelure : 1 an">
	<%= image_tag "citron.svg" %>
</div>
<div class="lunette" title="lunette, aluminium : 500 ans">
	<%= image_tag "lunette.svg" %>
</div>
<div class="orange" title="orange, pelure : 1 an">
	<%= image_tag "orange.svg" %>
</div>
<div class="ordi" title="ordi, métal : 100 ans">
	<%= image_tag "ordi.svg" %>
</div>
<div class="pile" title="pile, métal : 50 ans">
	<%= image_tag "pile.svg" %>
</div>
<div class="pneu" title="pneu, caoutchouc : 100 ans">
	<%= image_tag "pneu.svg" %>
</div>
<div class="pomme" title="pomme, pelure : 6 mois">
	<%= image_tag "pomme.svg" %>
</div>
<div class="pommee" title="pomme, trognon : 1 an">
	<%= image_tag "pommee.svg" %>
</div>
<div class="raquette" title="raquette, filet : 600 ans">
	<%= image_tag "raquette.svg" %>
</div>
<div class="roue" title="roue, caoutchouc : 100 ans">
	<%= image_tag "roue.svg" %>
</div>
<div class="saccuir" title="sac, cuir : 450 ans">
	<%= image_tag "saccuir.svg" %>
</div>
<div class="sacpla" title="sac plastique : 400 ans">
	<%= image_tag "sacpla.svg" %>
</div>
<div class="soap" title="bouteille, plastique : 1 000 ans">
	<%= image_tag "soap.svg" %>
</div>
<div class="tele" title="télé, métal : 4 000 ans">
	<%= image_tag "tele.svg" %>
</div>
<div class="tomate" title="tomate, pelure : 1 an">
	<%= image_tag "tomate.svg" %>
</div>
<div class="verre" title="verre : 4 000 ans">
	<%= image_tag "verre.svg" %>
</div>
<div class="verrebleu" title="verre : 4 000 ans">
	<%= image_tag "verrebleu.svg" %>
</div>
