<div class="bigcardevent">
  <p id="notice"><%= notice %></p>
  <div class="bigcardevent_header">
    <%= image_tag "macbandeau.jpg", class: "bandeauevent" %>
    <%= image_tag "macprofil.jpg", class: "photoprofilasso" %>
  </div>
  <div class="bigcardevent_informations">
    <div class="bigcardevent_informations_details">
      <div class="bigcardevent_informations_details_event">
        <div class="bigcardevent_informations_details_event_date">
          <h5><%= @date[0] %></h5>
          <h6><%= @date[1] %></h6>
        </div>
        <div class="bigcardevent_informations_details_event_name">
          <h2><%= @event.name.upcase %></h2>
          <h3>Organisé par <%= @event.mob.name %></h3>
        </div>

      </div>
      <div class="bigcardevent_informations_details_meteo">
        <div class="bigcardevent_informations_details_meteo_img">
        </div>
        <div class="bigcardevent_informations_details_meteo_details">
          <h3><%= @hour %></h3>
          <h3><%= @temperature %></h3>
        <div class="bigcardevent_informations_details_event_interested">
          <h3><%= a = UserEvent.all.where(event_id: [@event]).count %>
              <% if a <= 1 %> <%= t('one') %>
              <% else %> <%= t('other') %><% end %></h3>
          <h3><%= @event.place %></h3>
        </div>
        </div>
      </div>
    </div>
    <div class="bigcardevent_informations_details_actions">
      <div class="bigcardevent_informations_details_actions_cta">
        <div class="batterygreen">
          <div class="inner"></div>
          <div class="innerpre"><h4><%= link_to 'Intéressé(e)', event_path %></h4></div>
          <div class="posi"></div>
          <div class="moins"></div>
          <div class="plus"></div>
        </div>
        <div class="batterygreen">
          <div class="inner"></div>
          <div class="innerpre"><h4><%= link_to 'Intéressé(e)', event_path %></h4></div>
          <div class="posi"></div>
          <div class="moins"></div>
          <div class="plus"></div>
        </div>
        <div class="batterygreen">
          <div class="inner"></div>
          <% if admin_signed_in? %>
          <div class="innerpre"><h4><%= link_to 'Modifier', edit_event_path(@event) %></h4></div>
          <% else %>
          <div class="innerpre"><h4><%= link_to 'Participer', user_events_path(event_id: @event.id), method: :post %></h4></div>
          <% end %>
          <div class="posi"></div>
          <div class="moins"></div>
          <div class="plus"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="bigcardevent_geoloc">
    <div class="bigcardevent_geoloc_description">
      <h4><%= @event.description %></h4>
    </div>
    <div class="bigcardevent_geoloc_map">
      <div id="map" data-latitude="40.764698" data-longitude="-73.978972"></div>
    </div>
  </div>
<%= social_share_button_tag(
                              @event.name,
                              :allow_sites => %w(twitter facebook),
                              'data-twitter-title' => @event.description,
                              :url => "https://mob-mop.herokuapp.com/events/#{@event.id}",
                              desc: @event.name) %>
