<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Mob:</strong>
  <%= @event.mob.name %>

</p>

<%= social_share_button_tag(@event.name, :url => 'www.google.fr', desc: @event.name) %>

<%= button_to 'Participer', user_events_path(@event), method: :post %>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>


<div class="wrapper">

<div id="map" data-latitude="40.764698" data-longitude="-73.978972"></div>


 <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
  integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
  crossorigin=""></script>


<%= javascript_include_tag('application.js' ) %>

</script>

</div>
