<div class="bigcardevent">
<p id="notice"><%= notice %></p>
<div class="bigcardevent_header">
  <%= image_tag "macbandeau.jpg", class: "bandeauevent" %>
  <%= image_tag "macprofil.jpg", class: "photoprofilasso" %>  
</div>
<div class="bigcardevent_informations">
  <div class="bigcardevent_informations_details">
    <div class="bigcardevent_informations_details_event">
      <div class="bigcardevent_informations_details_event_date">
          <h5><%= @date[0] %></h5>
          <h6><%= @date[1] %></h6>
      </div>
      <div class="bigcardevent_informations_details_event_name">
        <h2><%= @event.name.upcase %></h2>
        <h3>Organisé par <%= @event.mob.name %></h3>
      </div>
      <div class="bigcardevent_informations_details_event_interested">
        <h3>5 023 personnes intéressées</h3>
      </div>
    </div>
    <div class="bigcardevent_informations_details_meteo">
      <div class="bigcardevent_informations_details_meteo_img">
        
      </div>
      <div class="bigcardevent_informations_details_meteo_details">
        <h3>Demain de 16:00 à 22:00</h3>
        <h3>9-12°C - Éclaircies</h3>
      </div>
    </div>
  </div>
  <div class="bigcardevent_informations_details_actions">
    <div class="bigcardevent_informations_details_actions_cta">
      <div class="batterygreen">
        <div class="inner"></div>
        <div class="innerpre"><h4><%= link_to 'Intéressé(e)', event_path %></h4></div>
        <div class="posi"></div>
        <div class="moins"></div>
        <div class="plus"></div>
      </div>
      <div class="batterygreen">
        <div class="inner"></div>
        <div class="innerpre"><h4><%= link_to 'Intéressé(e)', event_path %></h4></div>
        <div class="posi"></div>
        <div class="moins"></div>
        <div class="plus"></div>
      </div>
      <div class="batterygreen">
        <div class="inner"></div>
        <div class="innerpre"><h4><%= link_to 'Participer', user_events_path(@event), method: :post %></h4></div>
        <div class="posi"></div>
        <div class="moins"></div>
        <div class="plus"></div>
      </div>       
    </div>
    <div class="bigcardevent_informations_details_actions_address">
      <%= @event.place %>
    </div>
  </div>
</div>
<div class="bigcardevent_geoloc">
  <div class="bigcardevent_geoloc_description">
    <h4><%= @event.description %></h4>
  </div>
  <div class="bigcardevent_geoloc_map">
    <div id="map" data-latitude="40.764698" data-longitude="-73.978972"></div>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
    integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>
    <%= javascript_include_tag('application.js' ) %>    
  </div>
</div>




    <%= social_share_button_tag(@event.name, :url => 'www.google.fr', desc: @event.name) %>

<%= button_to 'Participer', user_events_path(@event), method: :post %>

<%= link_to 'Back', events_path %>

<!--  Début de la map 

  <div id="map" data-latitude="40.764698" data-longitude="-73.978972"></div>


   <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
    integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>


  <%= javascript_include_tag('application.js' ) %>

 </script>  yavais cette fermeture de balise, je sais pas si c'etait un oublie, je la laisse en cas de bug, qui sait


 fin de la map 
</div> -->
