<p id="notice"><%= notice %></p>

<div class="bigcardevent">
  <h5><%= @date[0] %></h5>
  <h6><%= @date[1] %></h6>

  <h2><%= @event.name.upcase %></h2>
  <h3><%= @event.mob.name %></h3>
  <h3>Demain de 16:00 à 22:00</h3>
  <h3><%= @temperature %></h3>
  <h3><%= @event.place %></h3>

  <h4><%= @event.description %></h4>




    <%= social_share_button_tag(@event.name, :url => 'www.google.fr', desc: @event.name) %>

<%= button_to 'Participer', user_events_path(@event), method: :post %>

<%= link_to 'Back', events_path %>

  <!-- Début de la map -->

  <div id="map" data-latitude="40.764698" data-longitude="-73.978972"></div>


   <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
    integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>


  <%= javascript_include_tag('application.js' ) %>

  <!-- </script>  yavais cette fermeture de balise, je sais pas si c'etait un oublie, je la laisse en cas de bug, qui sait-->


  <!-- fin de la map -->
</div>
