<p class="notice"><%= notice %></p>

<div class="bigcardevent">
  <div class="bigcardevent_header">
    <% if @event.banner.attached? %>
    <%= image_tag @event.banner, class: "bigcardevent_header_bandeau" %>
    <% end %>
    <%= image_tag "macprofil.jpg", class: "bigcardevent_header_photoprofilasso" %>
     </div>
  <div class="bigcardevent_informations">
    <div class="bigcardevent_informations_details">
      <div class="bigcardevent_informations_details_event">
        <div class="bigcardevent_informations_details_event_date">
          <h5><%= @date[0] %></h5>
          <h6><%= @date[1] %></h6>
        </div>
        <div class="bigcardevent_informations_details_event_name">
          <h2><%= @event.name.upcase %> • Organisé par <%= @event.mob.name %></h2>
        </div>
        <div class="bigcardevent_informations_details_actions">
          <div class="bigcardevent_informations_details_actions_cta">
            <div class="bigcardevent_informations_details_actions_cta_batteryblue">
              <div class="bigcardevent_informations_details_actions_cta_batteryblue_inner">
              </div>
              <% if admin_signed_in? %>
              <div class="bigcardevent_informations_details_actions_cta_batteryblue_innerpre">
                <h4><%= link_to 'Modifier', edit_event_path(@event) %></h4>
              </div>
              <% else %>
              <div class="bigcardevent_informations_details_actions_cta_batteryblue_innerpre">
                <h4><%= link_to 'Participer', user_events_path(event_id: @event.id), method: :post %></h4>
              </div>
              <% end %>
              <div class="bigcardevent_informations_details_actions_cta_batteryblue_posi">
              </div>
              <div class="bigcardevent_informations_details_actions_cta_batteryblue_moins">
              </div>
              <div class="bigcardevent_informations_details_actions_cta_batteryblue_plus">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bigcardevent_informations_details_meteo">
        <div class="bigcardevent_informations_details_meteo_details">
          <h3><%= @hour %></h3>
          <h3><%= @temperature %></h3>
        </div>
        <div class="bigcardevent_informations_details_event_interested">
          <h3><%= a = UserEvent.all.where(event_id: [@event]).count %>
              <% if a <= 1 %> <%= t('one') %>
              <% else %> <%= t('other') %><% end %></h3>
          <h3><%= @event.place %></h3>
        </div>
      </div>
    </div>

  </div>
  <div class="bigcardevent_geoloc">
    <div class="bigcardevent_geoloc_description">
      <p><%= @event.description %></p>
          <%= social_share_button_tag(
            @event.name,
            :allow_sites => %w(twitter facebook),
            'data-twitter-title' => @event.description,
            :url => "https://mob-mop.herokuapp.com/events/#{@event.id}",
            desc: @event.name) %>
    </div>
    <div class="bigcardevent_geoloc_map">
      <iframe src=<%= @embed_map %> frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
  </div>

  <div class="bigcardevent_materiel">
    <h3><%= @event.mob.name %> fournira : </h3>
  </div>
</div>
