<!-- CECI EST LA HOMEPAGE -->
<!-- à utiliser pour injecter l'infos dans mes cartes à la fin -->
<% @events.each_with_index do |event, index| %>
  <div class="carteevent">
    <div class="hautcard">
      <div class="nameevent">
        <h2><%= event.name.upcase %></h2>
      </div>
      <div class="date">
        <h5><%= @array_date[index][0] %></h5>
        <h6><%= @array_date[index][1] %></h6>
      </div>
    </div>
    <div class="adressandnumber">
      <h3><%= event.place %></h3>
      <h3><%= a = UserEvent.all.where(event_id: [event]).count %>
            <% if a <= 1 %> <%= t('one') %>
      <% else %> <%= t('other') %><% end %></h3>
      </div>
    <div class="infoevent">
      <p><%= event.description[0...160] %>...</p>
    </div>
    <div class="batterygreen">
      <div class="inner"></div>
      <div class="innerpre"><h4><%= link_to 'Intéressé(e)', event %></h4></div>
      <div class="posi"></div>
      <div class="moins"></div>
      <div class="plus"></div>
    </div>
  </div>
<% end %>