<div class="inscription">
  <% if user_signed_in? %>
  <%= render "admins/shared/error" %>
  <% else %>

    <div class="inscriptionassos">
      <h2>Connexion</h2>
    </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email@super.com", class: "champsinfo" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "mot de passe", class: "champsinfo" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
<!-- bouton pour le sign in et forgot your password ? -->
<!--   <%= render "admins/shared/links" %> -->
<% end %>
</div>