<div class="mediumboxinsco">
  <% if user_signed_in? %>
    <%= render "admins/shared/error" %>
  <% else %>

  <div class="mediumboxinsco_header">
    <%= link_to new_admin_session_path, class: "mediumboxinsco_header_white" do %>
      <h2 class="mediumboxinsco_header_white_purple">Connexion</h2>
    <% end %>
    <%= link_to new_admin_registration_path, class: "mediumboxinsco_header_dark" do %>
      <h2 class="mediumboxinsco_header_dark_black">Inscription</h2>
    <% end %>      
  </div>

    <div class="mediumboxinsco_champignon">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="mediumboxinsco_champignon_wrappiti_left_field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email@super.com", class: "mediumboxinsco_champignon_wrappiti_left_field_champsinfo" %>
      </div>

      <div class="mediumboxinsco_champignon_wrappiti_left_field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "mot de passe", class: "mediumboxinsco_champignon_wrappiti_left_field_champsinfo" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="mediumboxinsco_champignon_wrappiti_left_field">
          <h3>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </h3>
          <h3>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
          </h3>
        </div>
      <% end -%>

      <div class="mediumboxinsco_champignon_wrappiti_right_action">
        <%= f.submit "ok", class: "mediumboxinsco_champignon_wrappiti_right_action_pomme" %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>