<%= form_with(model: user_event, local: true) do |form| %>
  <% if user_event.errors.any? %>
  <h3>sdlkskdllskdqj</h3>

    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
