<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_event.user.email %>
</p>

<p>
  <strong>Event:</strong>
  <%= @user_event.event %>
</p>

<%= link_to 'Edit', edit_user_event_path(@user_event) %> |
<%= link_to 'Back', user_events_path %>



<div class="wrapper">

<div id="map" data-latitude="40.764698" data-longitude="-73.978972"></div>


 <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
  integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
  crossorigin=""></script>


<%= javascript_include_tag('application.js' ) %>

</script>

</div>
