<!DOCTYPE html>
<html>
  <head>
    <title>MobMop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Envoyer des données du controller au fichier JavaScript -->
    <%= include_gon %>
    <%= Gon::Base.render_data %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri:400,600,700|Source+Serif+Pro" rel="stylesheet">
    <!-- mes deux typos sur googlefonts -->
  </head>

  <body>
    <!-- j'ouvre ma div du background -->
    <div class="wrapper">
        <!-- ma navbar -->
        <%= render 'shared/navbar' %>
        <p class="notice"><%= notice %></p>
        <!-- mon background -->
        <%= render 'shared/trash' %>
        <!-- parce qu'un wrappi c'est tout mimi -->

        <!-- ajout des noms de controller et des actions pour créer des class spécifiques en fonction de la page -->
        <div class="wrappi_<%= controller_name %>_<%= action_name %>">

        <!-- dans le yield je mets toute l'intéraction du site -->
            <%= yield %>
        </div>
    <!-- ici je ferme la div de mon wrapper -->
    </div>
  </body>
</html>
