<div class="mediumboxedituser">
  <div class="mediumboxedituser_header">
   <div class="mediumboxedituser_header_white">
     <h2>Bonjour <%= current_user.first_name.capitalize %></h2>
   </div>

   <div class="mediumboxedituser_champignon">
     <% if admin_signed_in? %>
       <%= render "users/shared/error" %>
       <% else %>
      <p id="notice"><%= notice %></p>
      <% if flash[:alert] %>
     <p class="flash-error"><%= flash[:alert] %></p>
   <% end %>
       <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
         <%= devise_error_messages! %>

         <div class="mediumboxedituser_champignon_wrappiti">
           <div class="mediumboxedituser_champignon_wrappiti_left">

             <div class="mediumboxedituser_champignon_wrappiti_left_field">
               <%= f.text_field :first_name, :readonly => true, autofocus: true, autocomplete: "first_name", class: "mediumboxedituser_champignon_wrappiti_left_field_champsinfo" %>
             </div>

             <div class="mediumboxedituser_champignon_wrappiti_left_field">
               <%= f.text_field :last_name, :readonly => true, autofocus: true, autocomplete: "last_name", class: "mediumboxedituser_champignon_wrappiti_left_field_champsinfo" %>
             </div>

             <div class="mediumboxedituser_champignon_wrappiti_left_field">
               <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mediumboxedituser_champignon_wrappiti_left_field_champsinfo" %>
             </div>
           </div>

             <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
               <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
             <% end %>

           <div class="mediumboxedituser_champignon_wrappiti_right">

             <div class="mediumboxedituser_champignon_wrappiti_right_field">
               <%= f.password_field :password, autocomplete: "new-password", placeholder: "Nouveau mot de passe ?", class: "mediumboxedituser_champignon_wrappiti_right_field_champsinfo" %>
               <% if @minimum_password_length %>
               <% end %>
             </div>

             <div class="mediumboxedituser_champignon_wrappiti_right_field">
               <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirmation", class: "mediumboxedituser_champignon_wrappiti_right_field_champsinfo" %>
             </div>

              <div class="mediumboxedituser_champignon_wrappiti_right_field">
                <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Mot de passe actuel", class: "mediumboxedituser_champignon_wrappiti_right_field_champsinfo" %>
              </div>

              <div class="mediumboxedituser_champignon_wrappiti_right_action">
                <%= f.submit "ok", class: "mediumboxedituser_champignon_wrappiti_right_action_pomme" %>
              </div>
            </div>
            <% end %>
          </div>


          <%= button_to "Supprimer mon compte ?", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "mediumboxedituser_champignon_wrappiti_right_field_champsinfo" %>

            <% end %>
          </div>
</div>
        <!-- Affiche tous les événements où le user participe -->
          <div class="profiluser_event"></div>
            <h2>Mes events :</h2>
              <% @user_events.each do |user_event| %>
                <%= user_event.event.name %><br>
                <%= link_to 'Afficher', user_event %><br>
                <%= link_to 'Se désinscrire', user_event, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
        </div>