<div class="inscription">
  <% if admin_signed_in? %>
    <%= render "users/shared/error" %>
    <% else %>

    <div class="inscriptionuser">
      <h2>Inscription</h2>
    </div>

    <div class="champignon">
      <div class="inscrileft">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.text_field :last_name, placeholder: "Nom", class: "champsinfo" %>
        </div>

        <div class="field">
          <%= f.text_field :first_name, placeholder: "Prenom", class: "champsinfo" %>
        </div>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email@super.com", class: "champsinfo" %>
        </div>

        <div class="inscriright">
          <div class="field">
            <% if @minimum_password_length %>
      <!-- <em>(<%= @minimum_password_length %> characters minimum)</em> ajouter la taille demandé ? est ce que c'est ux ? -->
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "mot de passe", class: "champsinfo" %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirmation", class: "champsinfo" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <% end %>
      </div>
  <% end %>
<!-- pour le bouton connexion : -->
<!--   <%= render "users/shared/links" %> -->
</div>
